body{
  color: white;
}
.designBy{
  z-index: 99999;
  position: fixed;
  right:0;
  bottom:0;
  margin-right: 1.2rem;
  font-size: 16px;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 100;

}
.designBy .deslink{
  font-weight: 300;
}
.deslink{
  color: rgb(255, 255, 255);
}
.deslink:hover{
  color: #ff8413;
  text-decoration: none;

}
#home-page .container-fluid {
  background-image: url("../images/Home.jpg");
  background-size: cover;
  padding: 1% 7% 11%;
  height: 100vh;
  width: 100vw;
}
.navbar-brand{
  font-size: 2.5rem;
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link{
  color: rgb(255, 255, 255);
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: rgb(62, 62, 62);
}
.nav-item {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 200;
  margin: 1rem;
}
.nav-item .book{
  font-weight: 400;
}
.head {
  margin: 0;
}
.heading {
  padding-top: 6%;
  padding-bottom: 20%;
}
h1.head {
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  font-size: 4.2rem;
}
h3.head, h5.head{
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 100;
}
h3.head{
  font-size: 2rem;
}
h5.head{
  font-size: 1.2rem;
}
.col-lg-3.text-right{
  padding-right: 0.5%;
}


#book-now .container-fluid{
  background-color: black;
  background-size: cover;
  padding: 0;
  width: 100vw;
}
.fire{
  background-image: url(../images/Fire.jpg);
  background-size: cover;
}
.royal-nights{
  padding: 15% 7%;
}
.royal-nights h3{
  font-size: 3rem;
  font-family: 'Darker Grotesque', sans-serif;
}
.royal-nights h2{
  font-size: 4.4rem;
  font-family: 'Prata', serif;
}
/* .box-orange{
  position: absolute;
  width:100px;
  height : 100px;
  background-color: #ff8413;
  z-index: 0;
} */
.royal-nights .btn{
  margin: 10% auto;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #ff8413 !important;
}
.col-lg-3{
  padding: 0;
}
.row.book-button{
  margin-top: 10%;
 }


@media (max-width: 1028px) {
  .container-fluid {
    padding: 1% 7%;
  }
  .ml-auto{
    text-align: center;
    line-height: 0.5;
    background-color: rgba(0, 0, 0, 0.192);
  }
  .navbar{
    margin-top: 7%;
  }
  .navbar-brand{
    font-size: 4rem;
  }
  .nav-item {
    font-size: 2rem;
    margin: 2.5rem;
  }
  .navbar-toggler{
    font-size: 2rem;
  }
  div.heading{
    padding-top: 25vh;
    padding-bottom: 25vh;
  }
  .heading{
    padding-top: 30%;
    padding-bottom: 56%;
  }
  .head{
    margin: auto;
    text-align: center;
  }
  h1.head {
    padding-top: 5%;
    font-size: 7.5rem;
  }
  h3.head{
    padding-top: 10%;
    font-size: 4rem;
    text-align: center;
  } 
  h5.head{
    font-size: 2rem;
  }             
  .royal-nights h3{
    font-size: 2rem;
  }
  .royal-nights{
    background-image: url(../images/Fire_dark.jpg);
    background-size: cover;
    text-align: center;
    padding: 30% 10%;
    height: 100vh;
    width: 100vw;
  }
  .royal-nights .col-lg-3{
    text-align: center;
  }
}